body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

select {
  margin: 20px;
}

input {
  margin: 20px;
}

button {
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}
